# Dossiers de build
dist/
build/

# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environnement
.env
.env.local
.env.production
